* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #222;
  color: #ccc;
}

body {
  font-size: 14px;
}

#root {
  display: flex;
  height: 100%;

  #tags {
    font-size: 0.8rem;
    min-width: 100px;
    background: rgba(black, 0.3);
    color: #ccc;
    li {
      cursor: pointer;
      padding: 4px 10px;
    }
  }

  #acorn {
    padding: 10px 20px;
    h1 {
      margin-bottom: 1rem;
    }
    line-height: 1.5;
  }

  #acorns {
    flex: 1;
    background: rgba(black, 0.1);
    li {
      padding: 10px;
      border-bottom: 1px solid rgba(black, 0.2);
      cursor: pointer;

      &:first-child {
        background: rgba(white, 0.08);
      }
    }
  }

  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

span.tag {
  padding: 2px 4px;
  margin: 0 2px;
  display: inline-block;
  background: rgba(black, 0.1);
}
