* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: rgb(31, 31, 31);
  color: #ccc;
}

body {
  font-size: 14px;
}

span.tag {
  padding: 2px 4px;
  margin: 0 2px;
  display: inline-block;
  background: rgba(black, 0.1);
}

#root {
  display: flex;
  height: 100%;
  > ol {
    &,
    > li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  #tags {
    flex-shrink: 1;
    font-size: 0.8rem;
    background: rgba(black, 0.3);
    color: #ccc;
    li {
      cursor: pointer;
      padding: 4px 10px;
    }
  }

  #acorn {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    h1,
    input,
    main,
    textarea {
      width: 100%;
      display: block;
      padding: 0.5rem;
      outline: none;
      word-wrap: break-word;
    }
    h1,
    input {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    main,
    textarea {
      font-size: 1rem;
      line-height: 1.5rem;
      flex: 1;
    }
    textarea {
      resize: none;
      overflow: auto;
    }
    main p {
      margin-bottom: 1.5rem;
    }
    a {
      text-decoration: none;
      color: #00dcdc;
      &:visited {
        color: #b273ce;
      }
    }
  }

  #acorns {
    width: 300px;
    background: rgba(black, 0.1);
    li {
      padding: 10px;
      border-bottom: 1px solid rgba(black, 0.2);
      cursor: pointer;

      &:first-child {
        background: rgba(white, 0.08);
      }
    }
  }
}
